<h1>New game</h1>
<div class = "letters">
  <% @letters.each do |letter|%>
    <div class = "letter"><%= letter %></div>
  <% end %>
</div>
<% @attempt_time = Time.now.to_i %>

<p> What is the longest word you can find?</p>

<form action="/score" method="get">
  <input type="text" name="word_try">
  <input type="submit" value="Play">
  <input id="grid" name="grid" type="hidden" value="<%= @letters.join("") %>"/>
  <input id="start_time" name="start_time" type="hidden" value="<%= @attempt_time %>"/>
</form>

